@page
@model WebAppRazorPages.Pages.MotorcycleModel
@{
}
 
<h1>Свойства ТС</h1>
<p>ID_MOTORCYCLE: @Model.Motorcycle.Id</p>
<p>BrandMotorcycle: @Model.Motorcycle.BrandMotorcycle</p>
<p>Model: @Model.Motorcycle.Model</p>
<p>EngineMotorcycle: @Model.Motorcycle.EngineMotorcycle</p>